/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style for navbar */
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  /* Style for main content */
  .main-content {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-top: 10vh
  }
  
  .profile-picture {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-picture img {
    width: 100%;
    height: auto;
  }
  
  .profile-info {
    text-align: center;
  }
  
  .bio {
    flex: 1;
    text-align: left;
  }
  
  /* Style for footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  